[submodule "juiced_football/src/third_party/couchbase-lite-android"]
	path = juiced_football/src/third_party/couchbase-lite-android
	url = https://github.com/couchbase/couchbase-lite-android.git
[submodule "juiced_football/src/third_party/joda-time"]
	path = juiced_football/src/third_party/joda-time
	url = https://github.com/JodaOrg/joda-time.git
